/* This css allows a better integration on existing website and avoid conflict with existing css */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: initial;
}

app-root > div.container-fluid {
  line-height: 2em;
  font-size: 17px;
}

.cal-open-day-events {
  font-size: 0.9em;
}
